In [1]:
from comparewiki import similar

In [2]:
similar('Confucius','Herodotus')

Probability of topics being related is 45%
Count is 214 and sum is 95.26506063194795

In [3]:
similar('Confucius','Socrates')

Probability of topics being related is 83%
Count is 243 and sum is 201.0078430298459

In [4]:
similar('Alexander the Great','Socrates')

Probability of topics being related is 43%
Count is 340 and sum is 145.63847667198425

In [10]:
import pandas as pd
import numpy as np

In [9]:
similar('Alexander the Great','Socrates', verbose=0).ans()

['Alexander the Great', 'Socrates', 43, 'No']

In [18]:
columns = ['Topic 1', 'Topic 2', 'Probability', 'Similar?']
pd.DataFrame(pd.DataFrame(np.array(similar('Alexander the Great','Socrates', verbose=0).ans())).transpose())

                     0         1   2   3
0  Alexander the Great  Socrates  43  No

# Philosophers and social scientists

In [26]:
philos = ["Confucius", "Herodotus", "Socrates", "Plato", "Aristotle", "Avicenna", "Thomas Aquinas", "Ibn Khaldun", "René Descartes", "John Locke", "Adam Smith", "Immanuel Kant", "Mary Wollstonecraft", "Karl Marx", "Friedrich Nietzsche", "Sigmund Freud"]

for i in range(len(philos)):
    for j in range(i+1, len(philos)):
        if i == 0 and j == 1:
            df = pd.DataFrame(pd.DataFrame(np.array(similar(philos[i],philos[j], verbose=0).ans())).transpose())
        else:
            df = pd.concat([df, pd.DataFrame(np.array(similar(philos[i],philos[j], verbose=0).ans())).transpose()], axis=0)
            
df.columns = ['Topic 1', 'Topic 2', 'Probability', 'Similar?']
df.index = range(df.shape[0])
            
df

                 Topic 1              Topic 2 Probability Similar?
0              Confucius            Herodotus          45       No
1              Confucius             Socrates          83      Yes
2              Confucius                Plato          86      Yes
3              Confucius            Aristotle          86      Yes
4              Confucius             Avicenna          83      Yes
..                   ...                  ...         ...      ...
115  Mary Wollstonecraft  Friedrich Nietzsche          59      Yes
116  Mary Wollstonecraft        Sigmund Freud          80      Yes
117            Karl Marx  Friedrich Nietzsche          77      Yes
118            Karl Marx        Sigmund Freud          89      Yes
119  Friedrich Nietzsche        Sigmund Freud         100      Yes

[120 rows x 4 columns]

In [29]:
df['Similar?'].value_counts()

Yes    96
No     24
Name: Similar?, dtype: int64

In [34]:
df['Probability'] = df['Probability'].astype('int')

In [35]:
df['Probability'].describe()

count    120.000000
mean      72.591667
std       24.282129
min       22.000000
25%       55.750000
50%       76.000000
75%      100.000000
max      100.000000
Name: Probability, dtype: float64

In [36]:
df[df['Similar?'] == 'No']

                 Topic 1              Topic 2  Probability Similar?
0              Confucius            Herodotus           45       No
9              Confucius           Adam Smith           44       No
11             Confucius  Mary Wollstonecraft           31       No
19             Herodotus       Thomas Aquinas           36       No
25             Herodotus  Mary Wollstonecraft           41       No
38              Socrates  Mary Wollstonecraft           40       No
39              Socrates            Karl Marx           47       No
50                 Plato  Mary Wollstonecraft           25       No
51                 Plato            Karl Marx           41       No
61             Aristotle  Mary Wollstonecraft           22       No
68              Avicenna           John Locke           47       No
71              Avicenna  Mary Wollstonecraft           33       No
75        Thomas Aquinas          Ibn Khaldun           45       No
78        Thomas Aquinas           Adam Smith           31       No
80        Thomas Aquinas  Mary Wollstonecraft           26       No
81        Thomas Aquinas            Karl Marx           36       No
83        Thomas Aquinas        Sigmund Freud           33       No
88           Ibn Khaldun  Mary Wollstonecraft           42       No
95        René Descartes  Mary Wollstonecraft           34       No
101           John Locke  Mary Wollstonecraft           27       No
106           Adam Smith  Mary Wollstonecraft           25       No
110        Immanuel Kant  Mary Wollstonecraft           24       No
111        Immanuel Kant            Karl Marx           49       No
114  Mary Wollstonecraft            Karl Marx           38       No

In [39]:
df = df.sort_values('Probability', ascending=False)

In [41]:
df.head(30)

                 Topic 1              Topic 2  Probability Similar?
60             Aristotle        Immanuel Kant          100      Yes
52                 Plato  Friedrich Nietzsche          100      Yes
29              Socrates                Plato          100      Yes
30              Socrates            Aristotle          100      Yes
31              Socrates             Avicenna          100      Yes
34              Socrates       René Descartes          100      Yes
37              Socrates        Immanuel Kant          100      Yes
40              Socrates  Friedrich Nietzsche          100      Yes
41              Socrates        Sigmund Freud          100      Yes
42                 Plato            Aristotle          100      Yes
43                 Plato             Avicenna          100      Yes
46                 Plato       René Descartes          100      Yes
49                 Plato        Immanuel Kant          100      Yes
53                 Plato        Sigmund Freud          100      Yes
27             Herodotus  Friedrich Nietzsche          100      Yes
63             Aristotle  Friedrich Nietzsche          100      Yes
64             Aristotle        Sigmund Freud          100      Yes
66              Avicenna          Ibn Khaldun          100      Yes
67              Avicenna       René Descartes          100      Yes
73              Avicenna  Friedrich Nietzsche          100      Yes
89           Ibn Khaldun            Karl Marx          100      Yes
91           Ibn Khaldun        Sigmund Freud          100      Yes
94        René Descartes        Immanuel Kant          100      Yes
97        René Descartes  Friedrich Nietzsche          100      Yes
112        Immanuel Kant  Friedrich Nietzsche          100      Yes
113        Immanuel Kant        Sigmund Freud          100      Yes
28             Herodotus        Sigmund Freud          100      Yes
119  Friedrich Nietzsche        Sigmund Freud          100      Yes
20             Herodotus          Ibn Khaldun          100      Yes
13             Confucius  Friedrich Nietzsche          100      Yes

In [44]:
df[(df['Topic 1'] == 'Karl Marx') | (df['Topic 2'] == 'Karl Marx')]

                 Topic 1              Topic 2  Probability Similar?
89           Ibn Khaldun            Karl Marx          100      Yes
118            Karl Marx        Sigmund Freud           89      Yes
117            Karl Marx  Friedrich Nietzsche           77      Yes
107           Adam Smith            Karl Marx           70      Yes
26             Herodotus            Karl Marx           67      Yes
62             Aristotle            Karl Marx           57      Yes
72              Avicenna            Karl Marx           55      Yes
12             Confucius            Karl Marx           54      Yes
102           John Locke            Karl Marx           53      Yes
96        René Descartes            Karl Marx           50      Yes
111        Immanuel Kant            Karl Marx           49       No
39              Socrates            Karl Marx           47       No
51                 Plato            Karl Marx           41       No
114  Mary Wollstonecraft            Karl Marx           38       No
81        Thomas Aquinas            Karl Marx           36       No

In [46]:
df.index.name = 'Index'

In [47]:
df.to_csv('philosophers.csv', sep='|')